#pragma once

#include <stdint.h>
#include <stdbool.h>

$includes

typedef struct {
  bool dir  : 1;
  bool free : 1;
  union {
    struct {
      uint$w_t edge_idx;
      uint$w_t node_idx;
      $t label;
    };
    uint$w_t next_free;
  };
} $s;

#define $S_DIR_IN 0x0
#define $S_DIR_OUT 0x1
