#include "$header"

#include <assert.h>
#include <errno.h>

#include "awasm-alloc.h"

$includes

#define AWASM_SEQ_NOT_FREE ((uint32_t)-1)

void
$p_clear($s *seq, uint32_t start, uint32_t end) {
  for(uint32_t i = start; i < end - 1; i++) {
    AWASM_SEQ_DATA(seq)[i].free = true;
    AWASM_SEQ_DATA(seq)[i].next_free = i + 1;
  }
  AWASM_SEQ_DATA(seq)[end - 1].next_free = AWASM_SEQ_NOT_FREE;
  AWASM_SEQ_DATA(seq)[end - 1].free = true;

  seq->last_free = end - 1;
}


$e *
$p_data($s *seq) {
 return AWASM_SEQ_DATA(seq);
}

awasm_success
$p_init($s *seq, uint32_t capa) {

#if $embed > 0
  seq->data = NULL;
  seq->capa = AWASM_SEQ_EMBED_N;
#else
  size_t size = sizeof($e) * capa;
  seq->data = awasm_malloc(size);
  if(seq->data == NULL) {
    awasm_set_error(AWASM_ERROR_TYPE_MEMORY, AWASM_ERROR_CODE_NONE,
        NULL, "Allocationg buffer of size %zu failed: %s", size, strerror(errno));
    return false;
  }
  seq->capa = capa;
#endif

  seq->first_free = 0;
  seq->len = 0;

  $p_clear(seq, 0, seq->capa);
  return true;
}

static awasm_success
$p_grow($s *seq) {
  uint32_t new_capa = seq->capa + seq->capa / 2;

#if $embed > 0
  if(seq->data == NULL) {
    seq->data = malloc(sizeof($e) * new_capa);
    memcpy(seq->data, seq->_data, sizeof($e) * seq->capa);
    goto update;
  }
#endif

  {
    size_t size = sizeof($e) * new_capa;
    $e *new_data = awasm_realloc(seq->data, size);

    if(AWASM_UNLIKELY(new_data == NULL)) {
      awasm_set_error(AWASM_ERROR_TYPE_MEMORY, AWASM_ERROR_CODE_NONE,
          NULL, "Reallocationg buffer of size %zu failed: %s", size, strerror(errno));
      return false;
    }
  }
update:
  seq->first_free = seq->capa;
  $p_clear(seq, seq->capa, new_capa);
  seq->capa = new_capa;
  return true;
}

awasm_success
$p_push($s *seq, $e **ee) {
  if(seq->first_free == AWASM_SEQ_NOT_FREE) {
    if(!$p_grow(seq)) {
      return false;
    }
  }

  {
    $e *entry = &AWASM_SEQ_DATA(seq)[seq->first_free];

    uint32_t index = seq->first_free;

    // used up last free slot
    if(entry->next_free == AWASM_SEQ_NOT_FREE){
      assert(index == seq->last_free);
      seq->last_free = AWASM_SEQ_NOT_FREE;
    }

    seq->first_free = entry->next_free;

    entry->free = false;
    entry->next_free = AWASM_SEQ_NOT_FREE;

    seq->len++;

    *ee = e;
    return true;
  }
}

$e *
$p_get($s *seq, uint32_t index) {
  if(index >= seq->capa) {
    return NULL;
  }
  return AWASM_SEQ_DATA(seq)[index].free ? NULL : &AWASM_SEQ_DATA(seq)[index];
}

$e *
$p_delete($s *seq, $e *e) {
  e->next_free = seq->first_free;
  e->free = true;

  // only free slot
  if(seq->last_free == AWASM_SEQ_NOT_FREE) {
    seq->last_free = index;
  }

  seq->first_free = index;
  seq->len--;
  return e;
}

bool
$p_cmp($s *a, $s *b) {
  $cmp
}

bool
$p_find($s *seq, $e *value, uint32_t *index) {

  if(seq->len == 0) return false;

  for(uint32_t i = 0; i < seq->capa; i++) {
    if(!AWASM_SEQ_DATA(seq)[i].free) {
      if($p_cmp(value, &AWASM_SEQ_DATA(seq)[i])) {
        if(index != NULL) *index = i;
        return true;
      }
    }
  }
  return false;
}

void
$p_destroy($s *seq) {
  awasm_free(seq->data);
}
